.my-survey-list{
    animation: fadeIn 0.8s ease-in-out;
}

.mystitle{
    margin-top: 1.5%;
    color:rgb(10, 10, 10);
    font-style: oblique;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
.mysquote{
    color: #07446a;
    font-family: 'Times New Roman', Times, serif;
    font-size:200%;
}
.img-div{
    width: 100%;
}
.surv{
    border: 1px solid black;
  border-radius: 15px;
  padding: 0%;
  text-align: center;
  width: 250px;
  margin: 0%;
  background-color: #25002f;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.8s ease,border 0.5s ease;

}
.surv:hover{
    border: 5px solid rgb(7, 108, 185);
   }
.top-div{
    width: 10px;
}
.rem-but{
    border: 1px solid bisque;
    padding: 4% 10% 4% 10%;
    background:transparent;
    color: bisque;
    font-weight: bold;
    border-radius: 8px;
    margin: 8%;
   
  
}
.res-but{
    border: 1px solid bisque;
    padding: 4% 10% 4% 10%;
    background:transparent;
    color: bisque;
    font-weight: bold;
    border-radius: 8px;
}
.res-but:hover{
    background-color:rgb(115, 188, 5);
    color: #25002f;
    font-weight: bold;
}
.rem-but:hover{
    background-color: rgba(255, 0, 0, 0.658);
    color: black;
}
.question-chart{
    width: 45vw;
    border: 2px solid #25002f;
    margin-bottom: 4vh;
    /* background-color: #25002f; */
    border-radius: 10px;
    padding: 2%;
}
.survey-res{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.charts{
    justify-items: center;
    
}
.res-topic{
    color: #25002f;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
.res-quest{
    color: rgb(0, 2, 111);
}
.no-data-img{
    width: 60%;
    height: 60%;
    border-radius: 10px;
    
}
.no-sur-para{
     color: red; 
     font-size: x-large;
     margin-top:1%
}
.back{
    background-color: transparent;
    margin-bottom: 2%;
    padding: 0.75% 0.5% 0.75% 0.5%;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bolder;
   transition: background-color;
}
.back:hover{
    background-color: crimson;
    background-color: #4f185e;
    color: #ffffff;
}
.nosurvey{
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
}
.nosur-img{
    width: 500px;
    

}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@media (max-width:427px){
    .question-chart{
        width: 80%;
    }
    .mysquote{
        font-size: 25px;
    }
    .res-topic{
        font-size: 20px;
    }
    .nosur-img{
        width: 400px;
    }
    .charts{
        width: 400px;
    }
}
@media (max-width:377px) {
    .nosur-img{
        width:250px;
    }
    .charts{
        width:370px;
    }
}
@media(max-width:324px){
    .nosur-img{
        width:300px;
    }
    .charts{
        width: 320px;
    }
}
@media(max-width:250px){
    .nosur-img{
        width:200px;
    }
}

