body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: #ffffff;
  }

  .nav{
    margin: 3vh;
  }
  .home-style{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    background-color: #25002f;
    padding-top:5% ;
    padding-bottom: 9%;
    width: 100%;
  }
  .note-img{
    width: 36vw;
  }
  .home-container {
   /* margin-top: -4%; */
  }
  
  .hero-section {
    text-align: center;
    align-items: center;
    margin: 6% 0px 0px 4%;
  }
  
  .hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-left: 1%;
    margin-bottom: 20px;
    color: #f3f3f7}
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: bisque;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hero-buttons button {
    margin: 10px;
    padding: 15px 25px;
    font-size: 1.1rem;

    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn-primary {
  
    background-color: #25002f;
    border: 2px solid white;
    color: rgb(19, 146, 188);
    transition: background-color 0.8s ease,border 0.8s ease;
  }
  
  .btn-primary:hover {
    background-color: #49035d;;
    color: bisque;
    border: 2px solid #25002f;
  }
  .parti-button{
    background-color: #c036e6;
  }
  /* .cta-section button{
    background-color: #25002f;;
    color: bisque;
    border: 1px solid #25002f;
  } */
  /* .btn-secondary {
    background-color: #25002f;;
    color: bisque;
    border: 1px solid #25002f;
  }
  
  .btn-secondary:hover {
    background-color: #25002f;
    color: bisque;
  } */
  
  .about-section {
    text-align: center;
    margin: 40px 0;
  }
  
  .about-section p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #e1f3ff;
  }
  
  .features-section {
    margin: 60px 0;
    text-align: center;
  }
  
  .features-section h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
  
  .features-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
   justify-content: center;
    margin: 20px;
   
  }
  .features-grid div{
    width: 400px;
    margin: 30px;
  }
  
  .feature-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cta-section {
    text-align: center;
    margin: 60px 0;
  }
  
  .cta-section h2{
    color: #25002f;
  }

  .cta-section p {
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 1.2rem;
    color: BLACK;
  }
  
  .parti-button {
    padding: 15px 30px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #49035d;
    color: white;
    transition: background 0.3s ease;
  }
  
  .cta-section button:hover {
    background-color: #330241;
  }

  .feature-item h3{
    color:#25002f
  }
  .features-section h2{
    color:darkblue;
  }
  
  @media (max-width:1024px){
    .home-img{
      display: none;
    }
    .hero-section{
      padding-left: 50px;
    }
  }
   
  @media(max-width:768px){
    .hero-section{
     margin-left: -45px;
    }
  }

  @media (max-width:427px){
    .home-container{
      margin-top:-40px
    }
    .hero-title{
      margin-top: 30px;
      font-size: 40px;
    }
    .hero-subtitle{
      font-size:15px;
    }

   
    
  }
  @media (max-width:360px){
    .Home-page{
      margin-top:-50px;
      
    }
  }
  
 
  