.nes{
  background-color: #25002f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* position: sticky; */
}
.nes div{
  /* border: 1px solid white; */
}
.logo{
  width: 5%;
  margin-left: 10px;
}
.logo i{
  font-size: 1 rem;
}
.ttle{
  width: 20%;
}
.ttle p{
  margin-top: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;;
  margin-bottom: 10px;
}
.menu-sym{
  width: 3%;
 
  display: none;
}
.navbar{
  /* margin-left: 550px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 450px;
  
}
.navbar div{
  margin-left:12px;
  margin-right: 12px;
}
.navbar div>a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: color 0.5s ease;
}
.navbar a:hover{
  color: bisque;

}
.navbar a.active{
  color: bisque;
}
.user .username{
  margin-top: -4px;
  margin-bottom: -5px;
}
.menubar{
  display: none;
  /* margin-top: 60px; */
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 152px;
  background:transparent;
  box-shadow: 2px 6px 21px -2px rgba(77, 76, 76, 0.75);
  border-radius: 10px;
 
  
}
.menubar div{
  display: none;
  padding: 5px;
  /* margin-left: -150px; */
  width: 150px;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

.menubar a,.username{
  text-decoration: none;
  color: rgb(255, 255, 255);

}
.menubar a:hover{
 /* background: white; */
 color: bisque;
 
}

.user{
  border: none;
}

@media(maax-width:2562px){
  .navbar{
    display: none;
  }
  .logo i{
    font-size: 120px;
  }
  .ttle{
  /* border: 1px solid white; */
  width:20%;
  margin-left: 10x;
  margin-top: -8px;
}
  .ttle p{
    font-size: 40px;
  }
  .navbar{
    display: flex;
   margin-left: 250px;
  }
}

@media (max-width:1444px){
  .navbar{
    display: none;
  }
  .logo i{
    font-size: 30px;
  }
  .ttle{
  /* border: 1px solid white; */
  width:20%;
  margin-left: 10x;
  margin-top: -8px;
}
.menubar{
  display: none;
}
  .ttle p{
    font-size: 20px;
  }
  .navbar{
    display: flex;
   margin-left: 250px;
  }
}
@media(max-width:1027px){
  .navbar{
    display: none;
  }
  .logo i{
    font-size: 30px;
  }
  .ttle{
  /* border: 1px solid white; */
  width:20%;
  margin-left: 10x;
  margin-top: -8px;
}
  .ttle p{
    font-size: 20px;
  }
  .navbar{
    display: flex;
   margin-left: 60px;
  }

}
@media(max-width:770px){
  .navbar{
    display: none;
  }
  .logo i{
    font-size: 30px;
  }
  .ttle{
  /* border: 1px solid white; */
  width:50%;
  margin-left: 1%;
  margin-top: -8px;
}
  .ttle p{
    font-size: 20px;
  }
  .menu-sym{
    /* border: 1px solid wheat; */
    display: block;
    margin-left: 30%;
  
    font-size: 30px;
    /* border: 1px solid white; */
  }
  .menubar{
    display: block;
   margin-left:40%;
   /* box-shadow: 0 0 10px #666; */
  
  }
  .menubar div{
    display: block;
  }
  .menubar div:hover{
    background-color: #450257;
  }
  .navbar{
    display: none;
  }

}
@media(max-width:321px){
  .navbar{
    display: none;
  }
  .logo i{
    font-size: 30px;
  }
  .ttle{
  /* border: 1px solid white; */
  width:50%;
  margin-left: 8%;
  margin-top: -8px;
}
  .ttle p{
    font-size: 20px;
  }
  .menu-sym{
    /* border: 1px solid wheat; */
    display: block;
    margin-left: 18%;
  
    font-size: 30px;
    /* border: 1px solid white; */
  }
  .menubar{
    display: block;
   margin-left:5%;
   /* box-shadow: 0 0 10px #666; */
  
  }
  .menubar div{
    display: block;
  }
  .menubar div:hover{
    background-color: #450257;
  }

}
@media(max-width:376px){
  .navbar{
    display: none;
  }
  .logo i{
    font-size: 30px;
  }
  .ttle{
  /* border: 1px solid white; */
  width:50%;
  margin-left: 8%;
  margin-top: -8px;
}
  .ttle p{
    font-size: 20px;
  }
  .menu-sym{
    /* border: 1px solid wheat; */
    display: block;
    margin-left: 18%;
  
    font-size: 30px;
    /* border: 1px solid white; */
  }
  .menubar{
    display: block;
   margin-left:27%;
   /* box-shadow: 0 0 10px #666; */
  
  }
  .menubar div{
    display: block;
  }
  .menubar div:hover{
    background-color: #450257;
  }

}
@media(max-width:427px){
  .navbar{
    display: none;
  }
  .logo i{
    font-size: 30px;
  }
  .ttle{
  /* border: 1px solid white; */
  width:50%;
  margin-left: 6%;
  margin-top: -8px;
}
  .ttle p{
    font-size: 20px;
    margin-left: 10%;
  }
  .menu-sym{
    /* border: 1px solid wheat; */
    display: block;
    margin-left: 25%;
  
    font-size: 30px;
    /* border: 1px solid white; */
  }
  .menubar{
    display: block;
   margin-left:32%;
   /* box-shadow: 0 0 10px #666; */
  
  }
  .menubar div{
    display: block;
  }
  .menubar div:hover{
    background-color: #450257;
  }

}

