.UseofPlatform, .User-gene, .privacy, .termination {
    margin-bottom: 5vh;
    font-size: 15px;
    text-align: center;
}
.tactit {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 40px;
    font-style: italic;
    font-weight: bold;
}
@media (min-width: 600px) {
    .UseofPlatform, .User-gene, .privacy, .termination {
        margin-left: 4vw;
        margin-bottom: 6vh;
        font-size: 15px;
        text-align: left;
    }
}
@media (min-width: 1024px) {
    .UseofPlatform, .User-gene, .privacy, .termination {
        margin-left: 6vw;
        margin-bottom: 7.5vh;
        font-size: 17px;
        text-align: left;
    }
}
@media (min-width: 1440px) {
    .UseofPlatform, .User-gene, .privacy, .termination {
        margin-left: 7.5vw;
        margin-bottom: 5vh;
    }
}
